
<html>
<head>
	<h1>Transaction Status</h1>
</head>

<body>	


	<% if @customer.success? %>		
	<p>Customer Number: <%= @customer.customer.id %></p>	 
	<% else %>		
	<p><%= @customer.errors %></p>		
	<% end %>

	<% if @result.success? %>
	<p>Payment Successful</p>
	<% else %>
	<p>Payment Declined</p>
	<% end %>


	<a href="/checkouts"> Back to checkout </a>
</body>
</html>

